
<div class="text-center mt-5">
    <form [formGroup]="registerForm" (ngSubmit) = "userRegister()"  class="form-control" id="form"style="max-width: 350px; margin: auto"
    *ngIf = "!Success" name ="registerForm"
    novalidate
    >
      <h1 class="h2" id="h2">Sign Up</h1>

      <div class = "container">
     
        <label for="firstName" class="visually-hidden">Firstname</label>
        <input
          formControlName="firstName"
          type="text"
          id="firstname"
          name="firstname"
          class="form-control"
          placeholder="Firstname"
          value=""
          required
          autofocus
        />
        <label for="lastName" class="visually-hidden">Lastname</label>
        <input
          formControlName="lastName"
          type="text"
          id="lastname"
          name="lastname"
          class="form-control"
          placeholder="Lastname"
          value=""
          required
          autofocus
        />
        <label for="city" class="visually-hidden">City</label>
        <input
          formControlName="city"
          type="text"
          id="city"
          name="city"
          class="form-control"
          placeholder="City"
          value=""
          required
          autofocus
        />
        <label for="state" class="visually-hidden">State</label>
        <input
          formControlName="state"
          type="text"
          id="state"
          name="state"
          class="form-control"
          placeholder="State"
          value=""
          required
          autofocus
        />
      <label for="username" class="visually-hidden">Username</label>
      <input
        formControlName="username"
        type="text"
        id="username"
        name="username"
        class="form-control"
        placeholder="Username"
        minlength="5"
        maxlength="20"
        value=""
        required
        autofocus
      />
      <label for="password" class="visually-hidden">Password</label>
      <input
        formControlName="password"
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Password"
        minlength="5"
        maxlength="20"
        value=""
        required
        autofocus
      />
      <label for="email" class="visually-hidden">Email</label>
      <input
        formControlName="email"
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Email"
        value=""
        required
        autofocus
      />

      <div class="d-grid gap-2 mt-3">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
        <a href="">Already have an account? Sign In</a>
      </div>

    </form>
  </div>
