/**
   * @author Michael Reece
   * Formatting for track/album/artist search results including columns for the image and information.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .track{
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
  }
  
  .list-container{
      margin: 10px;
  }
  
  .column1 {
      float: left;
      width: 30%;
    }
    
    .column2{
      float: left;
      width: 50%;
    }
  
    .column3{
      float: left;
      width: 20%;  
    }
    
    /* Clear floats after the columns */
    .track:after {
      content: "";
      display: table;
      clear: both;
    }
  
    .columnA {
      float: left;
      width: 40%;
    }
    
    .columnB{
      float: left;
      width: 60%;
    }
  
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    .track{
      background: #f4f4f4;
      margin: 5px;
      padding: 10px 20px;
      cursor: pointer;
    }
    
    body {
      font-family: "Poppins", sans-serif;
    }
    
    .container {
      max-width: 500px;
      margin: 30px auto;
      overflow: auto;
      min-height: 300px;
      border: 1px solid steelblue;
      padding: 30px;
      border-radius: 5px;
    }
  
    .searchbar{
      margin: 30px;
      border: 2px solid grey;
      padding: 30px;
      text-align: center;
      font-size: 25px;
      border-radius: 40px;
      background: #f4f4f4;
    }
    .button {
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
    .input
    {
        height: 40px;
      font-size: 30px;
      border: 1px solid grey;
    }
    .dropdown{
      font-size: 20px;
    }
#concertName{
    position: relative;
    top: 3px;
}
#concertDate{
    position: relative;
    top: 6px;
}
#concertCity{
    position: relative;
    top: 9px;
}
#concertState{
    position: relative;
    top: 12px;
}
#concertButton{
    position: relative;
    top: 15px;
}
#otherConButton{
    position: relative;
    top:3px;
}

button {
  background-color: #0D6EFD;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

button#concertButton{
position: relative;
top:16px;
}

button#otherConButton{
position: relative;
top: 8px;
}
input
{
  height: 40px;
  font-size: 30px;
  border: 1px solid grey;
  border-radius: 4px;
}