
<div class="searchbar">
    <input type="text" [(ngModel)]='search'>
    <br><br>
    <label for="selectSearch">Search for:</label>
    <select [(ngModel)]='searchType' id='selectSearch'>
        <option value="track">Tracks</option>
        <option value="artist">Artists</option>
        <option value="album">Albums</option>
    </select>

<br><br>
<div>
    <button (click)="listSearch(search,searchType)" value="Search">Search</button>
</div>
</div>
<br>


<div class="list-container">
    <div *ngFor="let track of trackListResults" class="trackList">
        <div class="track">
            <div class="column1">
                <p><img src={{track.artist.image_url}} height="100" width="100"/> </p>
                </div>
            <div class="column2">
            <h3>{{track.title}}
                <fa-icon (click)="likeThis(track)" [ngStyle]="{'color': 'green'}" [icon]="faThumbsUp"></fa-icon>
                &nbsp;<fa-icon (click)="dislikeThis(track)" [ngStyle]="{'color': 'red'}" [icon]="faThumbsDown"></fa-icon></h3>
            <p>{{track.artist.name}}
                <br>
                {{track.album.album_title}}<br>
            </p>
            </div>
            <div class="column3">
                <form [formGroup]="form">
                <select formControlName="userPlaylists" id="userPlaylists" [(ngModel)]="selectValue">
                    <option *ngFor='let playlist of userPlaylists; let i=index' [value]='userPlaylists[i].playlist_id'>
                        {{userPlaylists[i].playlistName}}
                    </option>
                    
                </select>
                <button (click)='addToPlaylist(selectValue,track)' id="addTrackToList">Add to Playlist</button>
                <br><br>
                <button (click)='ratioThis(track.track_id)' id="viewRatioButton">View Like/Dislike Ratio</button>
            </form>
            </div>
        </div>
    </div>

    <div *ngFor="let artist of artistListResults" class="artistList">
        <div class="track">
        <div class="columnA">
            <p><img src={{artist.image_url}} height="100" width="100"/> </p>
        </div>
        <div class="columnB">
            <h3>Name: {{artist.name}}</h3>
        </div>
        <br><br><br>
        </div>
    </div>


    <div *ngFor="let album of albumListResults" class="albumList">
        <div class=track>
        <div class="columnA">
            <p><img src={{album.artist.image_url}} height="100" width="100"/></p>
        </div>
        <div class="columnB">
        <h6>Album ID: {{album.id}}</h6>
        <h4>Title: {{album.album_title}}</h4>
        <h6>Release Date: {{album.date}}</h6>
        <h6>Artist: {{album.artist.name}}</h6>    
        <br>
        <button (click)="viewTracks(album)" value="VIEW">VIEW TRACKS</button>
        </div>
    </div>
    </div>

    <div *ngFor="let track of albumTracks" class="albumTracks">
        <div class="track">
            <div class="column1">
                <p><img src={{track.artist.image_url}} height="100" width="100"/> </p>
                </div>
            <div class="column2">
            <h3>{{track.title}}
                <fa-icon (click)="likeThis(track)" [ngStyle]="{'color': 'green'}" [icon]="faThumbsUp"></fa-icon>
                &nbsp;<fa-icon (click)="dislikeThis(track)" [ngStyle]="{'color': 'red'}" [icon]="faThumbsDown"></fa-icon></h3>
            <p>{{track.artist.name}}
                <br>
                {{track.album.album_title}}<br>
            </p>
        </div>
        <div class="column3">
            <form [formGroup]="form">
            <select formControlName="userPlaylists" id="userPlaylists" [(ngModel)]="selectValue">
                <option *ngFor='let playlist of userPlaylists; let i=index' [value]='userPlaylists[i].playlist_id'>
                    {{userPlaylists[i].playlistName}}
                </option>
                
            </select>
            <button (click)='addToPlaylist(selectValue,track)' id="addTrackToList">Add to Playlist</button>
            <br>
            <button (click)='ratioThis(track.track_id)' id="viewRatioButton">View Like/Dislike Ratio</button>
        </form>
        </div>
    </div>

</div>
