.list-container{
    margin: 10px;
}

.column1 {
    float: left;
    width: 30%;
  }
  
  .column2{
    float: left;
    width: 50%;
  }

  .column3{
    float: left;
    width: 20%;  
  }
  
  /* Clear floats after the columns */
  .track:after {
    content: "";
    display: table;
    clear: both;
  }