<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >4TheMusic</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" routerLinkActive="active current">
        <a class="nav-link "routerLink ="./playlistManager">Playlist Manager</a>
        <!-- <a class="nav-link "routerLink ="./navbarPremium">My Playlist</a> -->
        <a class="nav-link "routerLink ="./trackSearch">Track Search</a>
      </div>
    </div>
    <button (click) = "LoggedOut()" type="button" class="btn delete btn-danger">Sign Out</button>
  </div>
</nav>
<router-outlet></router-outlet>